:root {
    --index: calc(1vh + 1vw)
}

/* Первый экран */
#hero {
    position: relative;
    height: 100vh;
    background: url("background.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Заголовок модели (по центру) */
#model-name {
    font-size: calc(var(--index) * 3);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

#model-name-detail {
    font-size: calc(var(--index) * 1.5);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

/* Картинка ноутбука */
#laptop {
    display: flex;     
    max-width: 800px;
    max-height: 800px;
    width: calc(var(--index) * 30 );
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(15px);
    transition: filter 0.9s ease-in-out, transform 0.7s ease-in-out, opacity 0.3s ease-out;
    z-index: 1;
}

/* 📌 Когда ноутбук уходит вниз, он исчезает */
.laptop-hidden {
    opacity: 0;
}

/* Второй блок */
#features {
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media (max-width: 830px) {
    #model-name-detail {
        top: 40%;
    }
}