body{
    margin: 0
}

:root {
    --index: calc(1vh + 1vw)
}

header{
    display: flex;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px 0px 20px 0px;
    justify-content: space-between;

}

.site-logo-base {
    font-size: 18px;
    padding: 0px 0px 0px 10px;
    margin: 0;
}

.site-logo-base h3{
    margin: 0;
}


.header-items{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    align-items: center;
    justify-content: end;
    font-size: 16px;
}